* {
    -fx-primary: #2A2E37;
    -fx-secondary: #ffff8d;
    -fx-primarytext: #B2B2B2;
    -fx-red: #FF0000;
}


.menu-bar{
    -fx-base : -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu
{
    -fx-background-color:  derive(-fx-primary, 20%);
}


.root{
    -fx-background-color: -fx-primary;
}

.glyph-icon{
    -fx-fill: -fx-primarytext;
}

.button-enter{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 13pt;
}

.button:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.combo-box .cell{
    -fx-text-fill: -fx-secondary;
    -fx-background-color: -fx-primary;

}

.text-field
{
    -fx-prompt-text-fill: #9c9d9e;
    -fx-text-fill: -fx-primarytext;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

.jfx-combo-box2 .label {
    -fx-text-fill: #1d1d1d;
}
.wrong-credentials
{
    -jfx-unfocus-color: -fx-red;
    -jfx-focus-color: -fx-red;
}

.tab{
    -fx-background-color: -fx-primary;
    -fx-pref-width : 118;
    -fx-pref-height : 25;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

.tab .tab-label{
 -fx-font-size: 9pt;
}

.jfx-hamburger-icon{
    -fx-color: white;
}

.jfx-hamburger-icon StackPane
{
    -fx-background-color: white;
    -fx-background-radius: 5px;
}

.toolbar-button
{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}
.toolbar-button:hover
{
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon
{
    -fx-fill: -fx-primary;
}

.dialog-button{
    -fx-background-color: #1976D2;
    -fx-border-color: #1976D2;
    -fx-border-radius: 25px;
    -fx-text-fill: white;
}

.dialog-button:hover{
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-primary;
    -fx-text-fill: white;
}